Scaling Extreme Startup
-
Imperial College London
-
01/10/2022
-
12/01/2023
-
Used technologies such as Python, Flask, React.js, MongoDB, AWS Lambda
Developed software in Scrum framework as a team of six people
Produced an online game for competitive programmers
Managed Frontend and Testing, as well as contributed to Backend and CI/CD
Scaled application using AWS Lambda and SQS for processing jobs
-
Extreme Startup is a software that supports a workshop where teams can compete
to build a software product that satisfies market demand.
It simulates the environment of a startup,
where there is high uncertainty as to what the market wants,
and teams must iterate rapidly to develop a product.
-
While working on this project I improved my knowledge of Python Flask
and also Learned AWS Lambda as I was the host of our AWS part, which
included AWS Lambda, SQS and DynamoDB.
I also met nice people and learned how to participate in a large group.
%
Project "MmmBoxes"
-
Imperial College London
-
24/05/2022
-
01/07/2022
-
Used technologies such as Python, Flask, JavaScript, JQuery, PostgreSQL
Identified a problem in the managing of package collection at universities
Created a system, in a group of four, that manages deliveries and storage
Deployed an application on Heroku with GitLab CI/CD pipeline being set
Contacted end users regularly for continuous feedback to adapt to their needs
-
The application is a package management systen that enable front desk staff
of student halls/shared accommodations to more quickly and efficiently deliver
parcels in order to reduce waste and save time.
-
During this project I learned how to use Flask for the first time and also
had opportunity to express my creativity in the front-end of the app.
%
WACC Compiler
-
Imperial College London
-
20/01/2022
-
20/03/2022
-
Used technologies such as Kotlin, ANTLR, ARM Assembly, Python
Coordinated a group of four to develop a programming language compiler
Implemented translation of a high level language WACC to ARM assembly
Created an IDE for WACC with syntax highlighting and error detection
-
WACC is a programming language perfect for learning how to write compilers for it.
The task for the project is to implement a complete compiler for the mock language.
-
This is one of the most enjoyable projects I ever had because it changed my
ideas of how large projects are built.
Not only writing the program itself, but also automating testing with bash scripts
and other tools.
I also liked the fact that as an Extension, I implemented my own little IDE for WACC
Using Python Tkinter Library.
%
Introductory DevOps and CI/CD Project
-
Imperial College London
-
10/01/2022
-
20/01/2022
-
Used technologies sucha as Java, Python, Docker, Heroku
Led a group to deploy a Java servlet Web application on a virtual server
Set a working Build-Test-Deploy pipeline using GitLab-Runner
Used Docker for managing dependencies and extension tools.
-
Familiarising self with top industrial practices and
experimenting with (some) DevOps tools
Becoming in good shape for coming heavyweight projects.
-
In this project I had a chance to be a group leader and it was
my first ever deployed application. Small but useful project.
%
PintOS Operating System
-
Imperial College London
-
03/10/2021
-
08/12/2021
-
Used technologies such as C and x86 Assembly
Worked in a group of four extending the source code of an operating system
Implemented priority scheduling, user process execution and virtual memory
-
Pintos is computer software, a simple instructional operating system framewor
for the x86 instruction set architecture.
It supports kernel threads, loading and running user programs, and a file system,
but it implements all of these in a very simple way.
It was created at Stanford University by Ben Pfaff in 2004
-
This is one of the most challenging project experience I have ever had.
Not only becase it is C programming language, which I like, but admit its difficulty
But also It was a first time I worked with people in person.
I had to work hard on my communication and accessibility and I believe I succeeded.
%
ARM11 Emulator and Interpreter
-
Imperial College London
-
13/05/2021
-
29/06/2021
-
Used C programming Language and Worked with Arm Assembly
Worked in a group of four people remotely
Implemented an emulation of a subset of instruction set of ARM11.
As an extension developed a debugger for Arm Assembly language within emulator
-
This project is a part of a final term of year 1 in Computing at Imperial College London.
-
I liked learning C and being assigned a project with 3 other peers and this was my first
finished group project in my computing career.