<div class="motivation-dark main-h1-wrapper">
  <span class="pseudo-h1">Andrey Popov</span>
</div>
<div id="main-image-wrapper" class="mid-grey">
  <img class="extra-image index-top-image"
       src="/file/ap_index_left.jpg">
  <img id="index-personal-image"
       class="index-top-image"
       src="/file/ap_index_image.jpg">
  <img class="extra-image index-top-image"
       src="/file/ap_index_right.jpg">
</div>
<div class="dark-line-break"></div>
<p class="index-description">
  Motivated Software Engineer in the third year of MEng Computing (Artificial
  Intelligence and Machine Learning) at Imperial College London on a target for a
  2:1. Experienced in personal tutoring and many areas in software
  development and computer science.
</p>
<h2>Explore</h2>
<div id="index-nav">
  <div class="index-nav-item">
    <a class="index-nav-link" href="/resume">Personal Resume</a>
  </div>
  <div class="index-nav-item">
    <a class="index-nav-link" href="/blog">Blog</a>
  </div>
  <div class="index-nav-item">
    <a class="index-nav-link" href="#">YouTube Channel</a>
  </div>
  <div class="index-nav-item">
    <a class="index-nav-link" href="/gallery">Gallery</a>
  </div>
</div>
<div id="recent-blogposts">
  <div>
    <h3 class="blog-post">Sample blog post</h3>
    <p>
      asldkn alsdk a;ldk nas;lkd nasl;kdn aslknd als;kdn al;sknd a;ls
      a;sldn asl;kdn as;lkdn al;ksnd ;alsknd la;snd;lasknd l;asknd alsnk
      a;lskd nasl;kdn as;ldn asl;knd a;lskdn al;skndal k;snd ;alknd
      asldknasldknaslkdn alksnd laskdn lasknd lkasnd lsaknd
    </p>
    <p><a href="#">Read More</a></p>
  </div>
</div>

