<!--body of the base html-->
<div id="content">
  <!-- Content here -->
  {% PLACEHOLDER %}
</div>
<div id="footer">
  <div id="footer-nav">
    <!-- Footer navigation -->

  </div>
  <div id="contact-entries">
    <h3>Contact</h3>
    <p class="contact-entry">
      <span class="contact-label">Email</span>
      <span class="contact-value">sample@email</span>
    </p>
    <p class="contact-entry">
      <span class="contact-label">Telephone</span>
      <span class="contact-value">+69 420-13-37</span>
    </p>
    <p class="contact-entry">
      <a id="send-message-link" class="footer-link" href="#">
        <span class="contact-label">Send Message Online</span>
      </a>
    </p>
    <p class="contact-entry">
      <a id="contact-youtube" class="footer-link" href="#">
        <span class="contact-label">YouTube Channel</span>
      </a>
    </p>
  </div>
</div>